# DASH MIME + CORS (Apache)
AddType application/dash+xml .mpd
AddType video/iso.segment .m4s
AddType video/mp4 .mp4

<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "*"
</IfModule>
